<ion-view view-title="Search Movies">
  <ion-content>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search by movie name" ng-model="movieForm.movieName">
        </label>
        <button class="button button-small" ng-click="movieForm.searchMovie()">
          Submit
        </button>
      </div>
    </div>

    <div class="list">
      <a class="item" ui-sref="app.singleMovie({ id: movie.imdbID })" ng-repeat="movie in movies">
        <h2>{{ movie.Title }}</h2>
        <p>{{ movie.Year }}</p>
      </a>
    </div>

  </ion-content>
</ion-view>
